.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 250px;
    border: 1px solid #ddd;
/*    border-radius: 5px;*/
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    background-color: white;
    padding-bottom: 20px;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}

.item img:hover {
    outline: 5px solid #006ED3;
}

.item h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}

.item p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.item span {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.item-price {
    color: #006ED3;
    font-size: 30px;
    font-weight: 550;
    margin-block: 0;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#sort-btn {
    background-color: #006ED3;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}